.home-image{
  background-image: asset-data-url("landingpage.jpg");
}

.landing-page-side-bar{
 background: rgb(185,212,242);
background: linear-gradient(90deg, rgba(185,212,242,1) 0%, rgba(201,222,244,1) 25%, rgba(255,205,132,1) 75%);
}

.landing-page h1 {
  color: white;
  font-family: 'Roboto', sans-serif !important;
}

body{
  background: #c9def4 !important;
}

h1 {
  color: white;
}
