.home-image{
  background-image: asset-data-url("landingpage.jpg");
}

.landing-page-side-bar{
 background: rgb(185,212,242);
background: linear-gradient(90deg, black 0%, $friends-red 5%,  $friends-yellow 25%);
}

.landing-page h1 {
  color: white;
  font-family: 'Roboto', sans-serif !important;
}

body{
  background: $friends-yellow !important;
}

h1 {
  color: white;
}
