<h2><%= friend.name %></h2>
<%= cl_image_tag friend.photo.key, height: 300, width: 400, crop: :fill, class: "card-img-top" %>
<p><%= friend.description %></p>
 <%= link_to "View", friend_path(friend)  %>


