<h1>Browse friends</h1>
<div class="d-flex justify-content-between wrap">
<% @friends.each do |friend| %>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://source.unsplash.com/random" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= friend.name %></h5>
        <p class="card-text"><%= friend.description %></p>
        <p class="card-text">$<%= friend.price %> per day <i class="fas fa-map-marker"> </i><%=  friend.location %></p>
        <a href="#" class="btn btn-primary">Book Now</a>
      </div>
    </div>
  <% end %>
 <div class="card">
  <div class="card-body">
    <h5 class="card-title">List a friend</h5>
    <p class="card-text">Have a friend you'd like to list?</p>
    <a href="#" class="btn btn-primary">List now</a>
  </div>
</div>
</div>
