<div class="container align-items-center">
  <div class="row">
     <div class="col-sm-12 col-md-6">
       <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." >
        <div class="card-body ">
          <h5 class="card-title"><%= @friend.name %></h5>
          <p class="card-text"><%= @friend.description  %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><p>Age: <%= @friend.price %></p></li>
          <li class="list-group-item"><p>Location: <%= @friend.location  %> in</li>
        </ul>
        <div class="card-body">
          <a href="#" class="btn btn-primary">Book now</a>
        </div>
      </div>
  </div>
</div>

