<div class="container align-items-center">
  <div class="row">
     <div class="col-sm-12 col-md-6">
       <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." >
        <div class="card-body ">
          <h5 class="card-title"><%= @booking.friend_id %></h5>
          <p class="card-text"><%= @booking.user_id %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><p>Age: <%= @booking.status %></p></li>
          <li class="list-group-item"><p>Location: <%= @booking.start_time %> in</li>
        </ul>
      </div>
  </div>
</div>



