
<div class="d-flex flex-row-reverse">
  <div style = "height: 100vh; width: 30%;" class= " text-center d-flex flex-column justify-content-center align-items-center landing-page-side-bar ">
    <h1>MATCH.</h1>
    <h1>CHAT.</h1>
    <h1>BE-FRIEND.</h1>
    <br>
    <%= link_to "Find a friend", friends_path, { :class=>"btn btn-primary" }   %>
    <br>
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">
      No I have many
    </button>
  </div>
 <%= render 'components/modal' %>
 </div>


