.card-img-top{
 border: 6px solid white;

}

.card img{
  opacity: 0.8;
}

  .card img:hover{
  opacity: 1.0;
  transition: 1s;

}

.card-body h1{
  color: black;
}

.fa-map-marker{
  color: #a7c7ea;
}

.card-text-container{
  min-height: 200px;
}
